<div class="container">
  <header class="header">
    <div class="brand">
      <img src="src/assets/logo.jpg" alt="Logo">
      <span>Profilique</span>
    </div> 
    <nav class="nav">
      <a href="#">Sign Up</a>
      <a href="#">Login</a>
    </nav>
  </header>

  <div class="hero">
    <div class="hero-content">
      <h1>Hello</h1>
      <p>Profilique is a detailed document that outlines the scope, objectives, deliverables, and milestones for the
        development and deployment of our ground-breaking student portfolio app. This document helps establish a clear
        understanding among the stakeholders involved, including the development team, management, and any external
        partners, resulting in a cohesive vision and a successful project conclusion.</p>
    </div>
  </div>
</div>
